body {
    text-align: center;
    margin: 20px;
    padding: 20px;
}

svg {
    background-color: rgba(250, 249, 249, 0.87);
    padding: 20px;
    margin: 10px;
}

h1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 150;
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
    background-color: rgb(150, 198, 240);
    padding: 20px;
}

h2 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 150;
    letter-spacing: 2px;
    line-height: 1;
    text-align: left;
    padding: 5px;
}

h3 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 250;
    letter-spacing: 2px;
    line-height: 2;
    text-align: left;
}

li {
    text-align: left;
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 150;
    letter-spacing: 1px;
    line-height: 3;
}

p {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 150;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: left;
}

label,
text, a {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 150;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

/*circle {
    stroke: black;
    stroke-width: 0.5px;
}*/

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.tooltip {
    position: absolute;
}

.italic {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: italic;
}

hr {
    margin-bottom: 60px;
    margin-top: 60px;
}

.back {
    font-family: 'Helvetica Neue', sans-serif;
    float: right;
    font-size: 10px;
    padding: 5px;
}

.contents {
    font-size: 20px;
    margin: 10px;
    color: purple;
}

span {
    background-color: rgb(235, 231, 231);
}

.datapt {
    stroke-width: 1px;
    stroke: black;
    opacity: .8
}

    .datapt:hover {
        stroke: black;
    }

button {
    display: inline-block;
    background-color: lightblue;
    font-size: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    padding: 15px 32px;
    text-align: center;
}

#highway {
    background-color: rgb(159, 152, 190);
}

#city {
    background-color: rgb(130, 196, 175);
}

img {
    float: left;
    padding-right: 20px;
}

#scene1, #scene2, #scene3 {
    width: 1060px;
    height: 580px;
    margin: 0 auto;
    background-color: rgb(174, 181, 190);
    position: relative;
}

#s3 {
    position: relative;
}
.select {
    position: absolute;
    top: 20px;
    left: 250px;
    z-index: 99;
}

.btn {
    width: 90px;
    cursor: pointer;
}


.select {
float:left;
}

.DL, .AA, .B6,.DL,.AS{
    display:none;
}

.DL_2, .AA_2, .B6_2, .DL_2, .AS_2 {
    display: none;
}